<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css">
  </head>
<body>
  <div class="login-container">
    <h2 id="loginTitle">Login In To Poseidon</h2>
    <form id="loginForm" method="post">
      <input class="input-field" type="text" id="username" placeholder="Username" value="a" required /> 
      <input class="input-field" type="password" id="password" placeholder="Password" value="a" required />
      <button class="login-button" type="submit">Login</button>
    </form>
  </div>
  <script type="module" src="../js/login.js"></script>
</body>
</html>
