<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css">
    <title>MCH Inventory</title>
  </head>
  <body>
    <h1>MCH Inventory</h1>

    <button id="openRegisterModal">Add Item</button>
    <button id="printQR">Print QR</button>
    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Category</th>
          <th>Status</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>

    <div id="registerModal" class="modal">
      <div class="modal-content">
        <span id="closeRegisterModal" class="close">&times;</span>
        <h2>Add Item</h2>
        <form onsubmit="createItem(event)" method="post">
          <label for="productName">Product Name:</label><br>
          <input type="text" id="productName" name="productName" required><br>
          <label for="department">Department:</label><br>
          <input type="text" id="department" name="department" required><br>
          <label for="category">Category:</label><br>
          <input type="text" id="category" name="category" required><br>
          <label for="quantity">Quantity:</label><br>
          <input type="number" id="quantity" name="quantity" value="1" required><br>
          <label for="assigned_to">Assigned To:</label><br>
          <input type="text" id="assigned_to" name="assigned_to" required><br><br>
          <input type="submit" value="Submit">
        </form> 
      </div>
    </div>

    <div id="notificationModal" class="modal">
      <div class="modal-small">
        <p id="notificationMessage">This is a notification message.</p>
        <button id="closeNotification">Confirm</button>
      </div>
    </div>

    <!-- <div id="myModal" class="modal">

      <div class="modal-small" id="notificationModal">
        <p>This is a notification message.</p>
        <button id="closeModalBtnS">Confirm</button>
     

      <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <h2>Add Item</h2>
        <form onsubmit="createItem(event)" method="post">
          <label for="productName">Product Name:</label><br>
          <input type="text" id="productName" name="productName" value=""><br>
          <label for="department">Department:</label><br>
          <input type="text" id="department" name="department" value=""><br>
          <label for="category">Category:</label><br>
          <input type="text" id="category" name="category" value=""><br>
          <label for="quantity">Quantity:</label><br>
          <input type="text" id="quantity" name="quantity" value="1"><br>
          <label for="assigned_to">Assigned To:</label><br>
          <input type="text" id="assigned_to" name="assigned_to" value=""><br><br>
          <input type="submit" value="Submit">
        </form> 
      </div>
    </div>
    </div> -->
    <script src="../js/table.js"></script>
  </body>
</html>
