table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.table-container {
  position: relative; 
  width: 100%; 
  height: 45vw; 
  overflow: auto; 
}

table {
  position: absolute; 
  width: 100%; 
}
  
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#notificationModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#confirmationModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#reportSelectionModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.modal-big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 25vw;
  height: 20vw;
}

.modal button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.modal button:hover {
  background-color: #0056b3;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#loginTitle {
  margin-bottom: 5px;
  font-family: 'Tahoma', sans-serif; 
  font-weight: bold;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-field, .login-button {
  width: 300px; 
  border: 1px solid #000000;
  margin: 8px 0;
  border-radius: 6px;
  padding: 10px;          
  font-size: 15px;    
  box-sizing: border-box; 
  font-family: 'Tahoma', sans-serif; 
}

#loginForm {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.login-button {
  background-color: #f0f0f0; 
  color: rgb(44, 44, 44);
  border: 1px solid #000000; 
  padding: 10px 20px; 
  border-radius: 5px; 
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.login-button:hover,
.login-button:focus {
    background-color: rgb(44, 44, 44); 
    color: white; 
    border: 1px solid rgb(44, 44, 44);
    text-decoration: none; 
}

.button-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange buttons horizontally */
  justify-content: center; /* Center buttons horizontally in the container */
  align-items: center; /* Center buttons horizontally */
}

.control-button {
  background-color: #f0f0f0; 
  color: rgb(44, 44, 44);
  border: 1px solid #000000; 
  padding: 10px; /* Adjust padding for uniformity */
  border-radius: 5px; 
  margin: 10px; /* Space between buttons */
  font-family: 'Tahoma', sans-serif; 
  font-weight: bold;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  display: flex; /* Use flexbox for button content */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  width: 100px; /* Set a fixed width for all buttons */
  height: 100px; /* Set a fixed height for all buttons */
}

.control-button svg {
  width: 24px; /* Set a fixed width for the SVG icon */
  height: 24px; /* Set a fixed height for the SVG icon */
  margin-bottom: 5px; /* Space between icon and text */
}

.control-button:hover,
.control-button:focus {
  background-color: rgb(44, 44, 44); 
  color: white; 
  border: 1px solid rgb(44, 44, 44);
  text-decoration: none; 
}

.action-button {
  background-color: #f0f0f0; 
  color: rgb(44, 44, 44);
  border: 1px solid #000000; 
  border-radius: 5px; 
  padding: 1px;
  font-family: 'Tahoma', sans-serif; 
  font-weight: bold;
  font-size: 12px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  align-items: center;
  justify-content: center;
  width: 80px; /* Set a fixed width for all buttons */
  height: 30px;
}

.action-button:hover,
.action-button:focus {
  background-color: rgb(44, 44, 44); 
  color: white; 
  border: 1px solid rgb(44, 44, 44);
  text-decoration: none; 
}


.action-button svg {
  width: 15px; /* Set a fixed width for the SVG icon */
  height: 15px; /* Set a fixed height for the SVG icon */
}